parser/stately.dtd

<!-- File generated by the BNF Converter (bnfc 2.9.4.1). -->

<?xml version="1.0" standalone="yes"?>
<!DOCTYPE stately [
<!ELEMENT Integer EMPTY>
<!ATTLIST Integer value CDATA #REQUIRED>
<!ELEMENT Double EMPTY>
<!ATTLIST Double value CDATA #REQUIRED>
<!ELEMENT String EMPTY>
<!ATTLIST String value CDATA #REQUIRED>


<!ELEMENT E ((AWait| AFail| ASucc| ATask), (E| EAction| EVal))>
<!ELEMENT EAction ((AWait| AFail| ASucc| ATask))>
<!ELEMENT EVal ((VString| VNumber| VBoolean))>

<!ELEMENT VString ((String))>
<!ELEMENT VNumber ((Integer))>
<!ELEMENT VBoolean ((BTrue| BFalse))>

<!ELEMENT BTrue (EMPTY)>
<!ELEMENT BFalse (EMPTY)>

<!ELEMENT AWait ((VString| VNumber| VBoolean))>
<!ELEMENT AFail (EMPTY)>
<!ELEMENT ASucc (EMPTY)>
<!ELEMENT ATask ((VString| VNumber| VBoolean), (VString| VNumber| VBoolean))>


]>
